Idea principal

### Estudiar la incidencia de trastornos mentales en Europa (o todo el mundo de forma general y especificar Europa o España)
- Ansiedad, depresión, bipolaridad, esquizofrenia, trastonos alimenticios, alcoholismo, abuso de otras drogas
- Evolución en el tiempo --> desde 1950 hasta 2021
- Estduar diferencias por edad, género, nivel socioeconómico, región geográfica
- Factores socioeconómicos principales: desempleo, nivel económico, acceso a atención médica
- Factores ambientales: contaminación, densidad de población
- Uso de fármacos antidepresivos, ansiolíticos, psicotrópicos, etc
- Afectación tras pandemia --> 2020 y 2021 efecto pandemia. Podría encontrar datos más actuales??
- Afectación crisis económica actual, guerras, etc

### Contexto
Avances tecnológicos, cuidado de la salud, alargamiento de la esperanza de vida... Aumento del ritmo de vida y su impacto en la salud mental.

### Hipótesis o preguntas
¿Cómo está nuestra salud mental?
¿La estamos cuidando?
¿Qué factores la hacen más vulnerable?

conector de power point para importar archivos html webviewer

In [1]:
"""1º Importo las librerías que creo que puedo necesitar en esta tarea."""

import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import squarify
import plotly.io as pio

In [26]:
doc1 = pd.read_csv(r"C:/Users/maria/ITAcademy/Sprint 10 - Pràctica final/IHME Global Burden of Disease - Mental Health/Opción 1/IHME-GBD_2021_DATA-71016e7b-1.csv")
doc2 = pd.read_csv(r"C:/Users/maria/ITAcademy/Sprint 10 - Pràctica final/IHME Global Burden of Disease - Mental Health/Opción 1/IHME-GBD_2021_DATA-71016e7b-2.csv")
option1 = pd.concat([doc1, doc2])
print(option1.info())
option1 = option1.drop(columns=['measure_id', 'measure_name', 'location_id', 'sex_id', 'age_id', 'metric_id', 'metric_name', 'upper', 'lower'])

option1 = option1[option1["sex_name"] != "Ambos"]

option1

<class 'pandas.core.frame.DataFrame'>
Index: 793152 entries, 0 to 293151
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   measure_id     793152 non-null  int64
 1   measure_name   793152 non-null  object
 2   location_id    793152 non-null  int64
 3   location_name  793152 non-null  object
 4   sex_id         793152 non-null  int64
 5   sex_name       793152 non-null  object
 6   age_id         793152 non-null  int64
 7   age_name       793152 non-null  object
 8   metric_id      793152 non-null  int64
 9   metric_name    793152 non-null  object
 10  year           793152 non-null  int64
 11  val            793152 non-null  float64
 12  upper          793152 non-null  float64
 13  lower          793152 non-null  float64
dtypes: float64(3), int64(6), object(5)
memory usage: 90.8+ MB
None

        location_name sex_name age_name  year          val
0       Nueva Zelanda   Hombre    80-84  1950  6592.195562
1       Nueva Zelanda    Mujer    80-84  1950  7840.687905
3       Nueva Zelanda   Hombre    80-84  1951  7024.191889
4       Nueva Zelanda    Mujer    80-84  1951  8355.892314
6       Nueva Zelanda   Hombre    80-84  1952  7310.698305
...               ...      ...      ...   ...          ...
293144           Mali    Mujer    90-94  2019  2363.022460
293146           Mali   Hombre    90-94  2020  2648.954300
293147           Mali    Mujer    90-94  2020  2263.923191
293149           Mali   Hombre    90-94  2021  2147.406375
293150           Mali    Mujer    90-94  2021  1863.550263

[528768 rows x 5 columns]

In [10]:
option1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 793152 entries, 0 to 293151
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   measure_id     793152 non-null  int64
 1   measure_name   793152 non-null  object
 2   location_id    793152 non-null  int64
 3   location_name  793152 non-null  object
 4   sex_id         793152 non-null  int64
 5   sex_name       793152 non-null  object
 6   age_id         793152 non-null  int64
 7   age_name       793152 non-null  object
 8   metric_id      793152 non-null  int64
 9   metric_name    793152 non-null  object
 10  year           793152 non-null  int64
 11  val            793152 non-null  float64
 12  upper          793152 non-null  float64
 13  lower          793152 non-null  float64
dtypes: float64(3), int64(6), object(5)
memory usage: 90.8+ MB

In [28]:
table = pd.pivot_table(data=option1, index=["location_name", "year", "age_name"], columns="sex_name", values="val")
table.reset_index(inplace=True)
table

sex_name location_name  year    age_name         Hombre          Mujer
0           Afganistán  1950  10-14 años  431925.684893  393476.725531
1           Afganistán  1950  15-19 años  391221.931939  351592.338607
2           Afganistán  1950  20-24 años  357010.934313  304168.796081
3           Afganistán  1950  25-29 años  312355.344479  263150.196554
4           Afganistán  1950  30-34 años  269835.485933  223567.521239
...                ...   ...         ...            ...            ...
264379        Zimbabue  2021  75-79 años   29976.680537   46409.780553
264380        Zimbabue  2021       80-84   13054.681946   20009.020006
264381        Zimbabue  2021       85-90    4407.492137    6762.893577
264382        Zimbabue  2021       90-94     970.278763    1669.721519
264383        Zimbabue  2021    95+ años     152.558049     356.708417

[264384 rows x 5 columns]

In [42]:
table_spain = table.iloc(["location_name"] == "España")
table_spain
#table.groupby("age_name")[["Hombre", "Mujer"]].sum()

In [29]:
option1["year"].unique()

array([1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021])

In [35]:
option1["location_name"].unique()

array(['Nueva Zelanda', 'Irán', 'Jordania', 'Níger', 'China', 'Taiwán',
       'Andorra', 'Bélgica', 'Sudán', 'Líbano', 'Santo Tomé y Príncipe',
       'Sierra Leona', 'Mauritania', 'Nigeria', 'Corea del Norte',
       'Australia', 'Dinamarca', 'Francia', 'Marruecos', 'Iraq', 'Kuwait',
       'Camboya', 'Laos', 'Austria', 'Chipre', 'Senegal', 'Togo',
       'Indonesia', 'Malasia', 'Finlandia', 'Alemania', 'Libia',
       'Palestina', 'Egipto', 'Omán', 'Arabia Saudita', 'Grecia',
       'Irlanda', 'Catar', 'Siria', 'Islandia', 'Israel', 'Birmania',
       'Sri Lanka', 'Maldivas', 'Samoa Americana', 'Bermudas', 'Turquía',
       'Yemen', 'Groenlandia', 'Guam', 'Luxemburgo', 'Holanda',
       'Timor Oriental', 'Mónaco', 'Nauru', 'Niue', 'Bangladés',
       'Filipinas', 'Portugal', 'Suecia', 'Kiribati',
       'Estados Federados de Micronesia', 'India', 'Pakistán', 'Túnez',
       'Emiratos Árabes Unidos', 'Islas Cook', 'Italia', 'Tailandia',
       'Vietnam', 'Malta', 'Palaos', 'Fiyi', 'Afganistán', 'Noruega',
       'España', 'Reino Unido', 'Argentina', 'Islas Marshall ',
       'Islas Marianas del Norte', 'Puerto Rico',
       'San Cristóbal y Nieves', 'República Centroafricana',
       'Papúa Nueva Guinea', 'Samoa', 'Tonga', 'Tokelau', 'Tuvalu',
       'Islas Vírgenes, EUA', 'Bután', 'Nepal', 'San Marino', 'Armenia',
       'Islas Salomón ', 'Vanuatu', 'Uruguay', 'Canadá',
       'República Democrática del Congo', 'Suiza', 'Gabón', 'Azerbaiyán',
       'Angola', 'Chile', 'Sudán del Sur', 'Estados Unidos de América',
       'Georgia', 'Kirguistán', 'Kazajistán', 'Mongolia', 'Congo',
       'Antigua y Barbuda', 'Burundi', 'Yibuti', 'Las Bahamas', 'Belice',
       'Guinea Ecuatorial', 'Turkmenistán', 'Tayikistán', 'Uzbekistán',
       'Barbados', 'Cuba', 'Etiopía', 'Madagascar', 'Comoras', 'Dominica',
       'Granada', 'Eritrea', 'Kenia', 'Haití', 'Santa Lucía',
       'Bosnia y Herzegovina', 'Malaui', 'Albania', 'Mauricio',
       'República Dominicana', 'Guyana', 'Bulgaria', 'Ruanda',
       'Mozambique', 'Surinam', 'Jamaica', 'San Vicente y las Granadinas',
       'República Checa', 'Macedonia', 'Somalia', 'Uganda', 'Seychelles',
       'Tanzania', 'Ecuador', 'Croacia', 'Hungría', 'Trinidad y Tobago',
       'Bolivia', 'Zambia', 'Botsuana', 'Costa Rica', 'Guatemala',
       'Montenegro', 'Rumania', 'Polonia', 'Serbia', 'Lesoto',
       'Eslovaquia', 'Perú', 'Colombia', 'Namibia', 'Estonia',
       'Sudáfrica', 'Eslovenia', 'El Salvador', 'Honduras', 'Zimbabue',
       'Bielorrusia', 'México', 'Panamá', 'Lituania', 'Rusia', 'Letonia',
       'Moldavia', 'Benín', 'Camerún', 'Suazilandia', 'Nicaragua',
       'Venezuela', 'Brunéi', 'Ucrania', 'Burkina Faso', 'Paraguay',
       'Bahréin', 'Cabo Verde', 'Costa de Marfil', 'Corea del Sur',
       'Ghana', 'Chad', 'Gambia', 'Guinea-Bisáu', 'Brasil', 'Japón',
       'Singapur', 'Mali', 'Argelia', 'Guinea', 'Liberia'], dtype=object)

In [44]:
doc1 = pd.read_csv(r"C:/Users/maria/ITAcademy/Sprint 10 - Pràctica final/IHME Global Burden of Disease - Mental Health/Opción 2/IHME-GBD_2021_DATA-594bea04-1.csv")
doc2 = pd.read_csv(r"C:/Users/maria/ITAcademy/Sprint 10 - Pràctica final/IHME Global Burden of Disease - Mental Health/Opción 2/IHME-GBD_2021_DATA-594bea04-2.csv")
doc3 = pd.read_csv(r"C:/Users/maria/ITAcademy/Sprint 10 - Pràctica final/IHME Global Burden of Disease - Mental Health/Opción 2/IHME-GBD_2021_DATA-594bea04-3.csv")
option2 = pd.concat([doc1, doc2, doc3])
print(option2.info())

option2
# C:\Users\maria\ITAcademy\Sprint 10 - Pràctica final\IHME Global Burden of Disease - Mental Health\Opción 2\IHME-GBD_2021_DATA-594bea04-1.csv

<class 'pandas.core.frame.DataFrame'>
Index: 1088640 entries, 0 to 88639
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   measure_id     1088640 non-null  int64
 1   measure_name   1088640 non-null  object
 2   location_id    1088640 non-null  int64
 3   location_name  1088640 non-null  object
 4   sex_id         1088640 non-null  int64
 5   sex_name       1088640 non-null  object
 6   age_id         1088640 non-null  int64
 7   age_name       1088640 non-null  object
 8   metric_id      1088640 non-null  int64
 9   metric_name    1088640 non-null  object
 10  year           1088640 non-null  int64
 11  val            1088640 non-null  float64
 12  upper          1088640 non-null  float64
 13  lower          1088640 non-null  float64
dtypes: float64(3), int64(6), object(5)
memory usage: 124.6+ MB
None

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,metric_id,metric_name,year,val,upper,lower
0,44,Población,212,Mauritania,1,Hombre,235,95+ años,1,Número,1950,1.180000,1.459719,0.902919
1,44,Población,212,Mauritania,2,Mujer,235,95+ años,1,Número,1950,0.660000,0.816453,0.505022
2,44,Población,212,Mauritania,3,Ambos,235,95+ años,1,Número,1950,1.840000,2.276173,1.407941
3,44,Población,212,Mauritania,1,Hombre,235,95+ años,1,Número,1951,1.249288,1.539623,0.937685
4,44,Población,212,Mauritania,2,Mujer,235,95+ años,1,Número,1951,0.748494,0.922444,0.561801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88635,44,Población,211,Mali,2,Mujer,32,90-94,1,Número,2020,2263.923191,2580.786336,1940.793532
88636,44,Población,211,Mali,3,Ambos,32,90-94,1,Número,2020,4912.877492,5600.493494,4211.662700
88637,44,Población,211,Mali,1,Hombre,32,90-94,1,Número,2021,2147.406375,2447.633120,1836.366341
88638,44,Población,211,Mali,2,Mujer,32,90-94,1,Número,2021,1863.550263,2124.091369,1593.625230
88639,44,Población,211,Mali,3,Ambos,32,90-94,1,Número,2021,4010.956639,4571.724489,3429.991571